.characterClickDisplay{
    position: absolute;


    z-index: 1000;


    /* cursor: pointer; */

    display: flex;
    flex-direction: column;
    /* gap: 1rem; */

    background-color: var(--dark-background-colour);
    color: white;
    border-radius: .8rem;

    box-shadow: 0 0 1rem black;

    overflow: hidden;

    
}


.characterContainer{

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;


    padding: 1.6rem 1rem;

    cursor: pointer;

    transition: background-color .2s ease;
}

.characterContainer:not(:last-child){
    border-bottom: .1rem solid var(--grey-colour);
}


.characterContainer:hover{
    background-color: rgb(49, 49, 49);
}


.imgContainer{
    flex-shrink: 0;

    width: 6rem;

    border-radius: var(--border-radius);

    overflow: hidden;

    & img{
        width: 100%;
        height: 100%;

        object-fit: cover;
    }
}