.characterClickDisplay {
    position: absolute;


    z-index: 1000;


    display: flex;
    flex-direction: column;

    width: min(100%, 24rem);
    /* height: 28.5rem; */


    background-color: var(--dark-background-colour);
    color: white;
    border-radius: .8rem;

    box-shadow: 0 0 1rem black;

    overflow: hidden;

    pointer-events: auto;

}


.characterClickDisplay[data-open="false"]{
    pointer-events: none;

    user-select: none;

    visibility: hidden;

    
}




.characterContainer {
    flex: 1 1 0;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;


    padding: 1.6rem 1rem;

    cursor: pointer;

    /* overflow: hidden; */

    transition: background-color .2s ease;

    & p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }
}

.characterContainer:not(:last-child) {
    border-bottom: .1rem solid var(--grey-colour);
}


.characterContainer:hover {
    background-color: rgb(49, 49, 49);
}


.imgContainer {
    flex-shrink: 0;

    width: 6rem;

    border-radius: var(--border-radius);

    overflow: hidden;

    & img {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }
}