.outerContainer{
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.characterHeader{
    

    box-shadow: 0 0 1rem black;

    max-width: max-content;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;

    padding: 1rem;

    border-radius: var(--border-radius);

    background-color: var(--dark-blue-colour);
}


.characterContainer{
    display: flex;
    align-items: center;
    gap: .4rem;

    font-size: 1.4rem;

    padding: .5rem;

    border-radius: var(--border-radius);

    background-color: var(--grey-colour);

    box-shadow: 0 0 1rem black;
    
}



.imgContainer{

    flex-shrink: 0;
    width: 5rem;
    aspect-ratio: 1;

    border-radius: 50%;

    overflow: hidden;

    & img{
        width: 100%;
        height: 100%;

        object-fit: cover;
    }
}

.name{
    flex: 1 1 0;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden; 

    color: white;
    font-weight: bold;
}



.alreadySelectedCharacter{
    opacity: 0.6;
}