.outerContainer{
    width: min(40rem, 95%);
    height: min(100%, 65rem);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--dark-background-colour);

    border-radius: .5rem;

    box-shadow: 0 0 2rem black;

    overflow: hidden;

    color: white;

    border-left: .1rem solid white;
    border-bottom: .1rem solid white;
}

.outerContainer::backdrop{

}


.contentsContainer{
    width: 100%;
    height: 100%;



    display: flex;
    flex-direction: column;
    gap: 2rem;

    padding: 1.5rem;


    overflow: auto;
}

.header{
    font-size: 2.7rem;

    text-align: center;

    text-shadow: -.2rem .2rem 0 var(--dark-blue-colour);
}


.form{
    flex: 1 1 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 2rem;
}

.labelInputContainer{
    margin-top: auto;
    margin-bottom: auto;

    width: 100%;

    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    & input {
        padding: .4rem;

        color: black;
    }

}

.btnContainer{
    margin-top: auto;
    margin-bottom: 3rem;

    width: 100%;

    display: flex;
    column-gap: 1.5rem;

    & > *{
        flex: 1 1 0;

        display: flex;
        align-items: center;
        justify-content: center;

        padding: .8rem;

        cursor: pointer;

        border-radius: .5rem;

        transition: background-color .2s ease, color .2s ease;
    }
}

.submitBtn{
    background-color: var(--dark-blue-colour);
}

.submitBtn:hover{
    background-color: rgb(252, 72, 52);
}



.returnHomeBtn{
    background-color: aqua;

    text-decoration: none;

    
}

.returnHomeBtn:hover{
    background-color: rgb(0, 175, 175);
}


.errors{
    color: red;
}