.guessContainer{
    position: absolute;

    overflow: hidden;

    transform: translate(-50%, -50%);

    width: 4rem;
    aspect-ratio: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    filter: drop-shadow(0 0 .6rem black);


    & svg{
        width: 100%;
        height: 100%;

        object-fit: cover;

        fill: red;
    }
}


.correctGuessContainer{



    & svg{
        fill: rgb(0, 179, 0);
    }
}