.selectionAreaContainer{

    position: absolute;

    width: 5rem;
    aspect-ratio: 1;

    overflow: hidden;

    & svg{
        fill: white;

        width: 100%;
        height: 100%;

        object-fit: contain;
    }
}

.selectionAreaContainer::before{
    content: '';

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);

    width: .5rem;
    aspect-ratio: 1;
    background-color: red;


}