.timerContainer {
    grid-area: timer;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    


}

.timer{
    font-size: 2rem;
    font-weight: bold;

    padding: 1rem 3rem;

    border-radius: var(--border-radius);

    background-color: var(--dark-blue-colour);
}