.playLayoutContainer{
    overflow: hidden;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.loadingContainer{
    flex: 1 1 0;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}




.headerSpace{
    --header-space-height: 10rem;
    flex-shrink: 0;

    width: 100%;
    height: var(--header-space-height);


    /* background-color: aqua; */

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: .1rem solid var(--grey-colour);

    
}


.headerMoving{
    flex: 1 1 0;

    display: flex;
    align-items: center;


    /* height: var(--header-space-height); */
    /* place-content: center; */

    gap: 1.5rem;

    padding: .6rem 2rem;
}

.headerMoving > *{
    flex: 1 1 0;

    height: 100%;

    overflow: hidden;
    /* width: 100%; */
}










.mainImageContainer{
    width: 100%;
    flex: 1 1 0;

    position: relative;

    overflow: auto;

/* 
    & img {
        display: block;

        box-shadow: 0 1rem 1rem black;

        width: 100%;
        height: auto;
    }
    
    
    & img[data-img-ratio="tall"]{
        box-shadow: 0 1rem 1rem black;

        width: 100%;
        height: auto;

        


    }
    
    & img[data-img-ratio="wide"]{
        box-shadow: 1rem 0 1rem black;

        width: auto;
        height: 100%;


        
    } */



}



.imgScaleContainer{
    position: relative;


    & > img {
        display: block;

        width: 100%;
        height: 100%;
    }

}

.imgScaleContainer[data-img-ratio="wide"]{

    height: 100%;

    & > img{

    }
}

.imgScaleContainer[data-img-ratio="tall"]{
    
    width: 100%;

    & > img{

    }
}