.playLayoutContainer{
    overflow: auto;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

}





.headerSpace{
    --header-space-height: 10rem;
    flex-shrink: 0;

    width: 100%;
    height: var(--header-space-height);


    /* background-color: aqua; */

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: .1rem solid var(--grey-colour);

    
}


.headerMoving{
    display: none;
    grid-template-areas: ". timer characters";
    grid-template-columns: 1fr 1fr 1fr;

    /* height: var(--header-space-height); */
    /* place-content: center; */

    gap: 1.5rem;

    padding: .6rem;
}



.mainImageContainer{
    width: 100%;
    flex: 1 1 0;

    position: relative;

    overflow: auto;
    
    
    & img[data-img-ratio="tall"]{
        box-shadow: 0 1rem 1rem black;

        width: 100%;
        height: auto;




    }
    
    & img[data-img-ratio="wide"]{
        box-shadow: 1rem 0 1rem black;

        width: auto;
        height: 100%;


    }



}


.mainImageContainer[data-img-ratio="wide"]{
    padding: 2rem 0;

    overflow: auto;


    
}

.mainImageContainer[data-img-ratio="tall"]{
    padding: 0 2rem;

    overflow: auto;
}


