.playLayoutContainer{
    overflow: auto;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

}


.headerSpace{
    width: 100%;


    /* background-color: aqua; */

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: .1rem solid var(--grey-colour);

    
}


.headerMoving{
    display: grid;
    grid-template-areas: ". timer characters";
    grid-template-columns: 1fr 1fr 1fr;

    gap: 1.5rem;

    padding: .6rem;
}



.mainImageContainer{
    width: 100%;
    flex: 1 1 0;
    /* height: 100%; */

    display: flex;
    align-items: center;
    justify-content: center;

    /* overflow: auto; */

    & img{
        width: 100%;
        height: 100%;

        object-fit: contain;
    }

}
