.backgroundContainer{
    position: relative;

    flex: 1 1 0;

    height: 100%;

    background-color: rgb(26, 26, 26);
    color: rgb(247, 247, 247);

    overflow: hidden;

    background-size: 600% 600%;
    animation: gradientMove 12s ease infinite;
}

/* 
@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
} */
