.outerContainer{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;

    overflow: hidden;

}


.header{
    flex-shrink: 0;

    width: 100%;
    height: 10rem;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

    padding: 2rem 2rem;


    border-bottom: .1rem solid white;

    box-shadow: 0rem .5rem 1rem black;



    .titleContainer{
        flex-shrink: 0;

        height: 100%;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 1rem;





        .titleText{

        }


    }

}

.headerImgContainer{
    flex-shrink: 0;

    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    /* padding: 1rem; */

    border-radius: .5rem;


    overflow: hidden;

    img {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }
}


.gamesContainer{
    flex: 1 1 0;
    width: 100%;


    display: flex;
    align-items: flex-start;
    justify-content: center;

    flex-wrap: wrap;

    gap: 2rem;

    padding: 2rem;

    overflow: auto;


}


.singleGameContainer{
    flex: 1 1 0;

    position: relative;

    height: 50rem;
    min-width: 28rem;
    max-width: 40rem;

    display: flex;
    flex-direction: column;

    box-shadow: 0 0 1rem black;

    cursor: pointer;

    background-color: black;



    overflow: hidden;

    .imgContainer{
        flex: 1 1 0;
        width: 100%;

        overflow: hidden;


        img{
            width: 100%;
            height: 100%;

            object-fit: cover;

            

        }
    }

    .lowerContainer{
        flex-shrink: 0;
        width: 100%;

        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -100%);

        background-color: black;

        /* height: 6rem; */

        display: flex;
        align-items: flex-start;
        justify-content: center;

        padding: 1rem;

        transition: padding-bottom .3s ease-out;


        .gameName{
            font-size: large;
        }
    }

}


.singleGameContainer:hover .lowerContainer{
    padding-bottom: 6rem;
}