.outerContainer{
    --item-width: min(100%, 60rem);

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;

    overflow: auto;

    padding: 2rem;
}


.imgContainer{
    flex-shrink: 0;

    width: var(--item-width);
    height: min(50%, 60rem);

    box-shadow: 0 0 1rem black;

    overflow: hidden;

    img{
        width: 100%;
        height: 100%;

        object-fit: cover;
    }
}



.leaderBoardContainer{
    --leaderboard-container-padding: 1rem;
    --leaderboard-container-column-gap: 1rem;

    --leaderboard-item-padding-left: .5rem;
    --leaderboard-item-border-left: .1rem solid white;

    width: var(--item-width);

    background-color: black;

    box-shadow: 0 0 1rem black;

    border-radius: .5rem;

    display: flex;
    flex-direction: column;

}

.leaderBoardHeader{
    flex-shrink: 0;

    background-color: black;

    width: 100%;

    padding: var(--leaderboard-container-padding);

    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: var(--leaderboard-container-column-gap);
}

.leaderBoardHeader > *{
    flex: 1 1 0;

    padding-left: var(--leaderboard-item-padding-left);

    font-weight: bold;


    border-left: var(--leaderboard-item-border-left);
}

.leaderBoardHeader > *:first-child{
    padding-left: 0rem;


    border-left: 0rem solid white;
}




.leaderBoardEntry{
    flex-shrink: 0;

    width: 100%;

    background-color: var(--dark-blue-colour);

    padding: var(--leaderboard-container-padding);

    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: var(--leaderboard-container-column-gap);

    overflow: hidden;
}

.entryUsername{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.leaderBoardEntry > *{
    flex: 1 1 0;

    padding-left: var(--leaderboard-item-padding-left);

    font-weight: bold;


    border-left: var(--leaderboard-item-border-left);
}



.leaderBoardEntry > *:first-child{
    padding-left: 0rem;


    border-left: 0rem solid white;
}

/* .entryPos{
    
}

.leaderBoardEntry:nth-of-type(2) .entryPos{
    background-color: gold;
}

.leaderBoardEntry:nth-of-type(3) .entryPos{
    background-color: silver;
}

.leaderBoardEntry:nth-of-type(4) .entryPos{
    background-color: rgb(160, 30, 30);
} */