.outerContainer{
    width: 100%;

    flex: 1 1 0;

    overflow: auto;
}



.innerWrapper {
    max-width: 80rem;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;

    margin: 0 auto;

    gap: 1rem;

    padding: var(--outer-container-padding);
}

.title {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 1.8rem;
    color: #ddd;
    margin-bottom: 1rem;
    line-height: 2.5rem;
}

.contactDetails {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    text-align: left;
    align-items: center;
}

.contactItem {
    background: rgba(255, 255, 255, 0.05);
    padding: 2.5rem;
    width: 80%;
    border-radius: 1rem;
    transition: background 0.3s ease;
}

.contactItem:hover {
    background: rgba(255, 255, 255, 0.1);
}

.contactItem h3 {
    margin-bottom: .5rem;
    font-size: 2rem;
    color: #f5f5f5;
}

.contactItem p,
.contactItem a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s ease;

    word-break: break-word;
}

.contactItem a:hover {
    color: #fff;
}

/* @media (max-width: 48rem) {
    .innerWrapper {
        max-width: 95%;
    }

    .title {
        font-size: 200%;
    }

    .contactItem {
        width: 100%;
    }
} */